{% extends 'base.html.j2' %}

{% block body %} 

<h2>What do you wish to do?</h2>

<a href="order-car.html.j2">
<button> ORDER CAR </button>
</a><br>

<a href="cancel-order-car.html.j2">
<button> CANCEL ORDER CAR </button>
</a><br>

<a href="rent-car.html.j2">
<button> RENT CAR </button>
</a><br>

<a href="return-car.html.j2">
<button> RETURN CAR </button>
</a><br>

{% endblock %}

